
@font-face {
    font-family: k-regular;
    src: url("../assets/font/klavika-regular-webfont.woff") format('woff');
}

@font-face {
    font-family: k-medium;
    src: url("../assets/font/klavika-medium-webfont.woff") format('woff');
}

@font-face {
    font-family: k-light;
    src: url("../assets/font/klavika-light-webfont.woff") format('woff');
}

body, html {
    font-family: k-regular;
    background-color: black;
    height: 100%;
    margin: 0;
    overflow: hidden !important;
}

#wrapper {
    opacity: 0;
    transition: opacity 7s linear 9s;
    height: 100%;
}

#overlay-wrapper {
    position: relative;
    height: 100%;
}

#background {
    background-image: url("../assets/img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    transition-property: background-position;
    transition-duration: 3s;
    height: 100%;
    opacity: inherit;
}

#overlay-img {
    background-image: url("../assets/img/overlay.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 15%;
    height: 100%;
    opacity: 1;
    transition: opacity 4s ease 4s;
}

#monk {
    display: table-cell;
    text-align: center;
    height: 1000px;
    width: 2000px;
    vertical-align: middle;
}

.fas {
    color: white;
    font-size: xx-large;
}

.text {
    font-family: k-light;
    font-size: 50px;
    color: white;
    text-decoration: underline;
    transition-property: opacity;
}

.text-left {
    left: 0;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -150px;
    margin-left: 110px;
    transition-delay: 2.75s;
    transition-duration: 0.5s;
}

.text-right {
    right: 0;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -150px;
    margin-right: 110px;
    transition-delay: 2.75s;
    transition-duration: 0.5s;
}

#text-0 {
    position: absolute;
    top: 0;
    margin-left: 30px;
    opacity: 1;
    transition-delay: 7s;
    transition-duration: 4s;
}

#text-9 {
    position: fixed;
    top: 0;
    right: 0 !important;
    will-change: transform;
    opacity: 0;
    transition: opacity 4s ease 2s;
}

#text-1,
#text-2,
#text-3,
#text-4,
#text-5,
#text-6,
#text-7,
#text-8 {
    opacity: 0;
}

#next {
    cursor: pointer;
    right: 0;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    margin-right: 50px;
}

#prev {
    cursor: pointer;
    left: 0;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    margin-left: 50px;
}